include /components/availability/availability
mixin related
  .grid__container
    - var n=0;
    .related
      h3.related__title
        | Вас также может заинтересовать
      ul.related__list.grid
        while n < 4
          .grid__col-md-3
            li.related__item
              -n++
              .grid__cell
                .related__item-header.u--clearfix
                  span.related__id ze11003007
                  if n>2
                    a(href="#").related__button
                      i.related__icon.related__icon_num 2
                    a(href="#").related__button
                      i.fa.fa-search-plus.related__icon
                  else
                    a(href="#").related__button
                      i.fa.fa-bar-chart.related__icon
                    a(href="#").related__button
                      i.fa.fa-search-plus.related__icon
                if n>2
                  +availability(true)
                else
                  +availability()
                .related__thumb
                  img(src='img/'+currentPage+'/product__related.jpg')
                a(href="#").related__item-title
                  |Z-in R25 100x100 830
                .related__price
                  |6 052,36 руб.
                  a(href="#").related__button
                    i.fa.fa-shopping-cart.related__icon
      a.related__footer(href="#")
        .related__button
          i.fa.fa-plus.related__footer-icon.related__icon
        br
        |Показать ещё 6 товаров
        br
        span.u--txt-thin
          |Показано 6 из 100