-
 var menuItems = [
  {'title': 'Главная', 'url': '#'},
  {'title': 'Продукция', 'url': '#'},
  {'title': 'Техническая информация', 'url': '#'},
  {'title': 'Как купить', 'url': '#','subMenu':[
    {'title': 'Заказ', 'url': '#'},
    {'title': 'Оплата', 'url': '#'},
    {'title': 'Получение', 'url': '#'},
    {'title': 'Гарантия и возврат', 'url': '#'},
    {'title': 'Партнеры', 'url': '#', 'active': true}]
  },
  {'title': 'Контакты', 'url': '#'}]
nav.menu.menu_top.grid
  .grid__col-md-2.grid__col-sm-2
    a.logo__container(href='#')
      img.logo(src='img/logo.png')
  .grid__col-md-8.grid__col-sm-8
    ul.menu__list.menu__list_top
      each item in menuItems
        li.menu__item.menu__item_top(class=item.subMenu ? 'menu__item_parent' : '') 
          a.menu__link.menu__link_top(href=item.url)=item.title
          if item.subMenu
            ul.menu__list_submenu
              each subitem in item.subMenu
                li.menu__item.menu__item_submenu
                  a.menu__link.menu__link_submenu(class=subitem.active ? 'menu__link_active' : '',href=subitem.url)=subitem.title
  .grid__col-md-1.grid__col-sm-1.grid--justify-center
    a.fa.fa-shopping-cart.menu__icon_cart(href='#')
  .grid__col-md-1.grid__col-sm-1.grid--justify-center
    a.fa.fa-search.menu__icon_search(href='#')