.catalog {
  &__title {
    padding-left: $reflex-cell-spacing;
  }
  &__subtitle {
    font-size: 1.16rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }
  &__subtitle_tabs {
    margin-right: 10rem;
    @include max-screen(map-get($breakpoints, md)) {
      margin-right: 1rem;
    }
  }
  /** grid **/
  &__grid {
    padding-left: $reflex-cell-spacing;
    padding-right: $reflex-cell-spacing;
    @extend .u--clearfix;
  }
  &__col {
    float: left;
    @include max-screen(map-get($breakpoints, md)) {
      width: 100% !important;
    }
  }
  &__col:first-child {
    width: 11%;
  }
  &__col:last-child {
    width: 89%;
  }
  /** List  **/
  &__list {
    padding: 0;
    padding-top: 1.75rem;
    border-top: 2px solid $black;
    border-right: 2px solid $black;
    padding-right: 1.75rem;
    @include max-screen(map-get($breakpoints, md)) {
      border-right: none;
    }
  }
  &__list-item {
    display: block;
    list-style-type: none;
    margin-bottom: 1rem;
    @include max-screen(map-get($breakpoints, md)) {
      display: inline-block;
      margin-right: 1rem;
    }
  }
  &__list-item:last-child {
    @include max-screen(map-get($breakpoints, md)) {
      margin-right: 0;
    }
  }
  &__list-item-thumb {
    display: inline-block;
  }
  &__list-item-thumb>img {
    border: 2px solid $black;
  }
  &__list-item-thumb:hover>img {
    border: 2px solid $primary;
  }
  &__list-title,
  &__list-item-description {
    text-align: center;
  }
  /** Tabs **/
  &__tabs-head {}
  &__tabs-body {
    padding-top: 1.75rem;
    padding-left: 1.75rem;
    margin-top: -1px;
    border-top: 2px solid $black;
    @include max-screen(map-get($breakpoints, md)) {
      padding-left: 0;
    }
  }
  /** Thumbs **/
  &__thumb_main {
    padding: 50px 60px;
    border: 1px solid $black;
    @include max-screen(map-get($breakpoints, md)) {
      margin-bottom: 1rem;
    }
  }
  &__thumb_main,
  &__item-content {
    @extend .u--inline-middle;
  }
  &__item-content {
    max-width: 75%;
    vertical-align: top;
  }
  &__thumb-list &__thumb {
    margin-left: 2rem;
    vertical-align: top;
    @include max-screen(map-get($breakpoints, md)) {
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }
  &__description {
    padding-top: 1rem;
    padding-left: 2rem;
    font-weight: 100;
    @include max-screen(map-get($breakpoints, md)) {
      padding-left: 0;
    }
  }
  /** Table **/
  &__tbl {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
  }
  &__tbl-head {
    border: 1px solid $black;
  }
  &__tbl-head &__tbl-cell:first-child {
    padding-left: 40px;
  }
  &__tbl-head &__tbl-cell:last-child {
    text-align: left;
    padding-left: 30px;
    @include max-screen(map-get($breakpoints, md)) {
      padding-left: 0;
    }
  }
  &__tbl-cell {
    padding: 1rem;
    text-align: center;
  }
  td[colspan="9"]:first-child{
    text-align: left;
    padding-left: 73px;
  }
  &__tbl-body {}
  &__tbl-body &__tbl-row:nth-child(3n+2) {
    //1,4...
    background-color: $tbl-light;
  }
  &__tbl-body &__tbl-row:nth-child(3n+3) {
    //2,5...
    background-color: $tbl-dark;
  }
  &__tbl-body &__tbl-cell:first-child {
    padding-left: 40px;
  }
  &__tbl-head &__tbl-cell:first-child,
  &__tbl-head &__tbl-cell:last-child,
  &__tbl-body &__tbl-cell:first-child {
    @include max-screen(map-get($breakpoints, md)) {
      padding-left: 1rem;
    }
  }
  
  &__tbl,
  &__tbl-body,
  &__tbl-row,
  &__tbl-cell {
    @include max-screen(map-get($breakpoints, md)) {
      display: block; 
      text-align: left;
    }
  }
  &__tbl-body &__tbl-cell {
    &:before {
      content: attr(data-th);
      display: inline-block;
      margin-right: 1rem;
      @include min-screen(map-get($breakpoints, md)) {
        display: none;
      }
    }
  }
  &__tbl-body &__tbl-cell[colspan]:before{
    display: none;
  }
  &__button {
    background-color: transparent;
    margin-bottom: 0;
  }
}