.button {
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  color: $black;
  outline: none;
  border: 1px solid $black;
  background-color: $white;
  font-size: 1rem;
  font-weight: 400;
  &:hover {
    box-shadow: 0 0 0 2px $black;
    border-color: $black;
  }
  &_active,
  &_active:hover {
    box-shadow: none;
    border: 2px solid $primary;
    color: $primary;
  }
  &_primary {
    border: 1px solid $primary;
    color: $primary;
    background: linear-gradient(to bottom, $white 0%, $white 49%, $button-bg 50%);
  }
  &_primary:hover {
    border-color: $primary;
    box-shadow: 0 0 0 2px $primary;
  }
  &_text {
    border: none;
    background: transparent;
    vertical-align: middle;
    margin-bottom: 0;
  }
  &_text:hover {
    box-shadow: none;
  }
  &_hollow {
    background: transparent;
  }
  &_hollow:hover {
    box-shadow: 0 0 2px $primary;
    border-color: $primary;
  }
  &_icon,
  &_icon:hover {
    border-color: transparent;
    box-shadow: none;
  }
  &__group {
    .button {
      margin-right: 15px;
    }
    .button:last-child {
      margin-right: 0;
    }
  }
}