.menu {
  &_top {
    display: flex;
    align-items: center;
  }
  &__list_top {
    display: table;
    width: 100%;
    transition: all 0.7s ease;
    @include max-screen(map-get($breakpoints, md)) {
      display: flex;
      max-height: 0;
      opacity: 0;
      position: absolute;
    }
  }
  &__list_top-visible {
    @include max-screen(map-get($breakpoints, md)) {
      display: flex;
      position: static;
      flex-direction: column;
      max-height: 500px;
      opacity: 1;
    }
  }
  &__list,
  &__list_submenu {
    margin: 0;
    padding: 0;
  }
  &__list_submenu {
    text-align: center;
    border: 2px solid $black;
    visibility: hidden;
    background-color: $white;
    /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  &__item {
    list-style-type: none;
  }
  &__item_top {
    display: table-cell;
    position: relative;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  &__item_top:hover {
    cursor: pointer;
    background-color: $dark-grey;
  }
  &__list_submenu-visible,
  &__item_parent:hover>&__list_submenu {
    visibility: visible;
    /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    /* this removes the transition delay so the menu will be visible while the other styles transition */
  }
  &__link_top,
  &__link_top:visited {
    display: inline-block;
    color: $white;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__link_top:hover {
    color: $white;
  }
  &__link_submenu {
    display: inline-block;
    color: $black;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  &__link_active {
    color: $primary;
  }
  &__logo {
    @include max-screen(map-get($breakpoints, md)) {
      display: inline-block;
      margin-top: 10px;
    }
  }
  &__icon_bars {
    margin-top: 10px;
  }
  &__icon_down {
    vertical-align: middle;
    padding: 0 10px;
  }
  &__item_parent {
    @include max-screen(map-get($breakpoints, md)) {
      padding-left: 65px;
    }
  }
  &__icon {
    color: $white;
    font-size: 2.1rem;
    @include max-screen(map-get($breakpoints, md)) {
      margin: 10px;
    }
    @include max-screen(map-get($breakpoints, md)) {
      margin: 10px 5px;
    }
  }
}