.form {
  &__lbl {
    position: relative;
    display: inline-block;
    margin-bottom: 1rem;
    padding-left: 30px;
    cursor: pointer;
  }
  &__lbl:before {
    position: absolute;
    top: 0;
    left: 0px;
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid $black;
  }
  &__lbl:after {
    position: absolute;
    top: 2px;
    left: 4px;
    display: block;
    visibility: hidden;
    content: "\f00c";
    width: 10px;
    height: 10px;
    font: normal normal normal 14px/1 FontAwesome;
  }
  [type="checkbox"]:checked+&__lbl:after {
    visibility: visible;
    color: $white;
  }
  [type="checkbox"]:checked+&__lbl:before {
    background-color: $primary;
    border: none;
  }
  &__input {
    border: 1px solid $black;
    border-radius: 3px;
    padding: 9px 13px;
    color: $muted;
    font-size: 11px;
    font-weight: 100;
    margin-bottom: 1rem;
  }
  &__input_sm {
    display: inline-block;
    vertical-align: baseline;
    font-size: 10px;
    font-weight: 100;
    max-width: 4rem;
    padding: 10px;
    line-height: 1;
    border-radius: 0;
  }
  &__input:active,
  &__input:focus {
    box-shadow: 0 0 0 2px $black;
  }
  &__input_icon {
    text-indent: 70px;
    background-position: 2rem center;
  }
  &__input-wrapper {
    position: relative;
  }
  &__input-wrapper &__input {
    position: relative;
    z-index: 1;
    text-indent: 20px
  }
  &__input-wrapper:before {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-100%);
    z-index: 2;
  }
  &__chkbx {
    display: none;
  }
  &__select,
  &__select:hover {
    margin-bottom: 1rem;
    font-size: 11px;
    font-weight: 100;
    border: 1px solid $black;
    border-radius: 3px;
    padding: 1rem 3.1rem 1rem 2rem;
    background-position: right 2rem center;
    vertical-align: baseline;
    cursor: pointer;
  }
}

input[type=range] {
  @include input-type-range;
  &::-webkit-slider-thumb {
    margin-top: -15px;
  }
  &::-ms-fill-upper {
    opacity: 0.7;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}