.grid {
    margin-right: auto;
    margin-left: auto;
    &__container {
        margin-right: auto;
        margin-left: auto;
        max-width: map-get($breakpoints, lg);
        padding-left: $reflex-cell-spacing;
        padding-right: $reflex-cell-spacing;
        @include max-screen(map-get($breakpoints, lg)) {
            padding-left: $reflex-cell-spacing;
            padding-right: $reflex-cell-spacing;
            max-width: 960px;
        }
    }
    &__col--bleed-left {
        padding-left: 0 !important;
    }
    &__col--bleed-right {
        padding-right: 0 !important;
    }
    &--offset-right-1 {
        margin-right: 8.333333%;
    }
    &--offset-left-2 {
        margin-left: 16%;
    }
    &--offset-left-6 {
        margin-left: 50%;
    }
}