.grid {
    margin-right: auto;
    margin-left: auto;
    &__container {
        margin-right: auto;
        margin-left: auto;
        max-width: map-get($breakpoints, lg);
        padding-left: 15px;
        padding-right: 15px;
        @include max-screen(map-get($breakpoints, lg)) {
            padding-left: 15px;
            padding-right: 15px;
            max-width: 960px;
        }
    }
}