.complectacia {
  padding-left: $reflex-cell-spacing;
  &__title {
    margin-bottom: 3rem;
  }
  &__item {
    padding: 2rem;
    border: 1px solid $black;
  }
  &__item+&__item {
    border-left: none;
  }
  &__item:nth-child(1) {
    border-bottom: none;
  }
  &__description {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}