.garant {
  &__title {
    margin-bottom: 10rem;
  }
  &__description {
    line-height: 2rem;
    margin-bottom: 5rem;
  }
  &__icon {
    vertical-align: middle;
    margin-right: 5rem;
    font-size: 2rem;
  }
}