.availability {
  margin-bottom: 24px;
  text-align: center;
  position: relative;
  font-size: 11px;
  max-width: 105px;
  min-width: 105px;
  min-height: 48px;
  display: inline-block;
  &_available {
    color: $success;
  }
  &_notavailable:before {
    font: normal normal normal 9px/1 FontAwesome;
    content: "\f111";
    position: absolute;
    top: 25%;
    left: 0;
    width: 10px;
    height: 10px;
  }
  &_notavailable {
    color: $muted;
  }
  &_available:before {
      font: normal normal normal 9px/1 FontAwesome;
      content: "\f111";
      margin-right: 10px;
  }
}