mixin subscribe
 form.subscribe
  h3.subscribe__title Будьте в курсе
  .form__input-wrapper.fa.fa-envelope-o.subscribe__input
    input(type="text", placeholder="Адрес электронной почты").form__input
  input(type="checkbox",id="chkbx",checked).form__chkbx
  label.form__lbl(for="chkbx") Согласен на подписку 
  button.button.button_primary.subscribe__button(type="submit")
    |Подписаться
