include head
include /components/footer/footer
include /components/header/header

body.page
  block header
    +header
  block content
  block footer
    +footer
  // Bundle JS
  script(src='js/bundle.js')