include head
body.page
  header.page__header
    block header
      include includes/header
  main.page__content
    block content
  footer.page__footer
    block footer
      include includes/footer
  // Bundle JS
  script(src='js/bundle.js')