include head
include /components/footer/footer
include /components/header/header
include /components/notice/notice

body.page
  block header
    +header
  block content
  block footer
    +footer
  +notice
  // Bundle JS
  script(src='js/bundle.js')