  .product {
      margin-bottom: 4rem;
      &__title {
          padding-left: $reflex-cell-spacing;
      }
      &__tbl {
          margin-bottom: 1.5rem;
          width: 100%;
          table-layout: fixed;
          border-collapse: collapse;
          font-weight: 100;
      }
      &__tbl-caption {
          font-weight: 400;
          text-align: left;
      }
      &__tbl-cell {
          vertical-align: middle;
      }
      &__tbl-cell:first-child {
          //vertical-align: bottom;
      }
      &__tbl-cell:last-child {
          //vertical-align: top;
          padding-left: 15px;
      }
      &__tbl-cell:first-child>span {
          display: inline-block;
          max-width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
      }
      &__tbl-cell:first-child>span:after {
          margin-left: 10px;
          content: '............................................................';
      }
      &__qty {
          text-align: center;
          margin-bottom: 2rem;
      }
      &__qty-title {
          margin-bottom: 10px;
          font-weight: 100;
      }
      &__qty-num {
          border: 1px solid $black;
          padding: 2px 5px;
          vertical-align: middle;
          margin: 0 10px;
          display: inline-block;
          max-width: 40px;
          text-align: center;
      }
      &__qty-cntr {
          font-weight: 100;
          color: $black;
          vertical-align: middle;
      }
      &__qty-cntr:hover {
          color: $primary;
      }
      &__button_buy {
          display: block;
          margin-left: auto;
          margin-right: auto;
      }
      &__price {
          text-align: center;
          margin-bottom: 2rem;
          font-weight: 400;
      }
      &__link {
          text-align: center;
          color: $black;
          font-weight: 500;
      }
      &__link_text {
          display: block;
          margin-bottom: 20px;
      }
      &__image {
          padding-right: $reflex-cell-spacing;
      }
      &__thumb {
          border: 1px solid $black;
          margin-bottom: 30px;
      }
      &__switch {
          position: relative;
      }
      &__switch-list {
          position: absolute;
          top: 0;
          right: 100%;
          margin-right: 45px;
          min-width: 50px;
      }
      &__switch-item {
          border: 1px solid $black;
          display: block;
          margin-bottom: 2rem;
      }
      &__switch-item_active {
          border: 2px solid $black;
      }
      &__strip {
          font-size: 11px;
          display: flex;
          background-color: $bg-strip;
          padding: 7px 15px;
          justify-content: space-between;
          line-height: 1;
          align-content: center;
          vertical-align: middle;
      }
      &__gallery {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-right: 15px;
      }
      &__description-title {
          margin-bottom: 20px;
      }
      &__description {
          font-weight: 100;
      }
  }