extends /pug/layout.pug

include /components/breadcrumbs/breadcrumbs
include /components/basket/basket

block pageTitle
  title Basket

block content
  main.page__content
    +breadcrumbs
    +basket

    
    