extends /pug/layout.pug

include /components/breadcrumbs/breadcrumbs
include /components/catalog/catalog
include /components/related/related

block pageTitle
  title Каталог

block content
  main.page__content
    +breadcrumbs
    +catalog

    
    