extends /pug/layout.pug

include /components/breadcrumbs/breadcrumbs

block pageTitle
  title Как оплатить

block content
  main.page__content
    +breadcrumbs
    .grid__container
      h1.how-to__title Как оплатить
      section.grid.how-to.grid
        .grid__col-md-10.grid__col-sm-12.grid__col-xs-12
          .grid
            .grid__col-md-2
            .grid__col-md-10.how-to__description
              span.u--txt-bold Вы можете оплатить наши товары любым удобным для вас способом:            
          .grid
            .grid__col-md-2
              i.fa.fa-map-marker.how-to__icon
            .grid__col-md-10.how-to__description
              span.u--txt-bold При получении. 
              span.u--txt-thin Вы можете оплатить покупку наличными или по банковской карте при получении товара на складе или с доставкой.
          .grid
            .grid__col-md-2        
              i.icon-hand.icon-hand-dims.how-to__icon
            .grid__col-md-10.how-to__description
              span.u--txt-bold На сайте.
              span.u--txt-thin Мы принимаем к оплате банковские карты и электронные деньги.
        .grid__col-md-2.grid__col-sm-12.grid__col-xs-12.grid--justify-end
          a(href="#").button.button_primary.u--txt-center.u--vrt-lg Перейти к каталогу

    
    