extends /pug/pages/search.pug

include /components/search__im/search__im

block pageTitle
  title Интернет-магазин

block search__title
  h1.search__title Интернет-магазин

block search__content
    +search__im

    
    