extends /pug/layout.pug

include /components/carousel/carousel
include /components/features/features
include /components/newsblock/newsblock
include /components/partners/partners
include /components/subscribe/subscribe

block pageTitle
  title Главная

block content
  main.page__content
    .grid__container      
      h1.main__title 
       img(src='img/main-logo.png') 
       |архитектурные гипсовые светильники.
      // Set true for controls left-right
      +carousel(true)
        img(src='img/carousel-1.jpg')
      a(href="#").button 
        |Скачать брошюру
      .main__about-title 
        |О компании
      .main__about-description
        |Компания «Зенит СТП» производит светодиодные гипсовые светильники, предназначенные для монтажа в гипсокартонный потолок. 
        |Преимуществом данных светильников является то, что после завершения всех отделочных работ светильник полностью сливается с потолком  - отсутствуют какие-либо 
        |пластиковые или металлические рамки.  При производстве большое значение уделяется подбору качественных комплектующих, выходному контролю - это позволяет 
        |предоставлять 5 лет гарантии на оборудование. 
      // Set true for controls left-right
      +carousel(false)
        .grid
          .grid__col-md-8
            img.grid__cell-img(src='img/carousel-2.jpg')
          .grid__col-md-4
            h3.main__carousel-title
            | Пункт самовывоза
            .main__carousel-description
               |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit laudantium, quibusdam pariatur minus vero ipsam iure eveniet tempore, inventore rem! 
               |Consequuntur cum delectus magni minus dicta minima molestiae! Inventore, rem.
            a(href="#").button
              |Подробнее