extends /pug/layout.pug

include /components/breadcrumbs/breadcrumbs
include /components/gallery/gallery
include /components/related/related
include /components/features/features
include /components/newsblock/newsblock
include /components/partners/partners
include /components/subscribe/subscribe

block pageTitle
  title News

block content
  main.page__content
    +breadcrumbs
    +gallery
    .u--vrt-md
      +related
    .u--vrt-sm
      +features
    .u--vrt-sm.grid__container
      .grid
        .grid__col-md-6
          +newsblock
        .grid__col-md-3
          +partners
        .grid__col-md-3
          +subscribe

    
    