extends /pug/layout.pug
include /components/availability/availability
include /components/breadcrumbs/breadcrumbs
include /components/menu/menu
include /components/product/product
include /components/related/related
include /components/features/features

block content
  main.page__content
    +breadcrumbs
    +product
    .u--vrt-md
      +related
    +features
  

    
    