extends /pug/layout.pug
include /components/availability/availability
include /components/breadcrumbs/breadcrumbs
include /components/menu/menu
include /components/product/product

block content
  main.page__content.grid__container
    +breadcrumbs
    +product
  

    