extends /pug/layout.pug

include /components/breadcrumbs/breadcrumbs
include /components/search/search

block pageTitle
  title Поиск

block content
  main.page__content
    +breadcrumbs
    +search
    block related-content
    
    