include /components/datepicker/datepicker
mixin steps
  .steps.grid__container
    ul.steps__line
      li.steps__item
        |Ваш заказ: 3 товара, 15 670 руб.
      li.steps__item.steps__item_active
        |Способ получения
      li.steps__item
        |Подтверждение
      li.steps__item
        |Заказ оформлен!
    //include /components/steps/step-1.1
    //include /components/steps/step-1.2
    //include /components/steps/step-2
    include /components/steps/step-3
    