mixin steps
  .steps.grid__container
    ul.steps__line
      li.steps__item
        |Ваш заказ: 3 товара, 15 670 руб.
      li.steps__item.steps__item_active
        |Способ получения
      li.steps__item
        |Подтверждение
      li.steps__item
        |Заказ оформлен!
    .steps__step.steps__step_1
      h1.steps__title
        |Выберите способ получения заказа
      .grid
        .grid__col-md-6.grid--justify-end
          button(type="button").button.button_hollow.button_active.steps__button_lg.grid--justify-center.u--vrt-md
            |Самовывоз
            i.fa.fa-check.steps__check
          .steps__address-pickup.grid__col-md-8.grid--align-self-end.u--txt-right.u--vrt-md
            |* Россия, Ленинградская область, Ломоносовский район,
            |Аннинское сельское поселение, поселок Новоселье,
            |Институтская ул. д. 1
          .steps__end-price.u--vrt-md
            |К оплате 15 670 руб.
          button(type="button").button.button_primary.steps__button.grid__col-md-4.grid--align-center.grid--align-self-end
            |Заберу отсюда
        .grid__col-md-6
          button(type="button").button.button_hollow.steps__button_lg
            |Заказать доставку