.steps__step.steps__step_1-1
  h1.steps__title
    |Ваш заказ успешно оформлен
  .grid.grid--justify-center
    a(href="#").button.button_primary.steps__button.grid__col-md-2.u--txt-center
      |Перейти к оплате
    