.how-to {
  &__title {
    padding-left: $reflex-cell-spacing;
    margin-bottom: 5rem;
  }
  &__description {
    line-height: 2rem;
    margin-bottom: 4rem;
  }
  &__icon {
    vertical-align: middle;
    margin-right: 5rem;
    font-size: 3rem;
  }
  &__icon:hover {
    color: $primary;
  }
  &__icon.icon-car {
    width: 31px;
    height: 26px;
    background-size: contain;
  }
}