mixin datepicker
 -var date=1;
  .datepicker
    .datepicker__years
      a(href="#").datepicker__year.datepicker__year_prev
        i.fa.fa-chevron-left.datepicker__icon
        |&nbsp;2017
      a(href="#").datepicker__year.datepicker__year_next
        |2018&nbsp;
        i.fa.fa-chevron-right.datepicker__icon
    .datepicker__months
      a(href="#").datepicker__month.datepicker__month_prev
        i.fa.fa-chevron-left.datepicker__icon
        |&nbsp;Январь
      a(href="#").datepicker__month.datepicker__month_next
        |Февраль&nbsp;
        i.fa.fa-chevron-right.datepicker__icon
    table.datepicker__tbl
      caption.datepicker__caption
        |Январь 01
      thead.datepicker__head
        tr.datepicker__row
          th.datepicker__cell
            |Пн
          th.datepicker__cell
            |Вт
          th.datepicker__cell
            |Ср
          th.datepicker__cell
            |Чт
          th.datepicker__cell
            |Пт
          th.datepicker__cell
            |Сб
          th.datepicker__cell
            |Вс
      tbody.datepicker__body
        <tr class="datepicker__row">
          while date < 32
            if date%7==0
              td.datepicker__cell
                a.datepicker__link(href="#")
                    =date++
              </tr>
              <tr class="datepicker__row">
            else
                td.datepicker__cell(class=(date==12?'datepicker__cell_active':''))
                  a.datepicker__link(href="#")
                    =date++
