.features {
    border: 2px solid $black;
    padding-top: 20px;
    padding-bottom: 7px;
    margin-left: $reflex-cell-spacing;
    max-width: 1160px;
    @include max-screen(map-get($breakpoints, md)) {
        margin-bottom: 1rem;
        max-width: calc(100% - 2*#{$reflex-cell-spacing});
        margin-left: auto;
        margin-right: auto;
    }
    &__title {
        font-size: 14px;
    }
    &__item {
        text-align: center;
    }
    &__item:hover>&__icon {
        color: $primary;
    }
    &__icon {
        font-size: 40px;
        margin-bottom: 17px;
    }
    &__description {
        font-size: 1rem;
        font-weight: 100;
    }
}