mixin features
  .grid__container
    .features.grid
      .features__item.grid__col-md-3
        i.fa.fa-truck.features__icon
        .features__title
          |Удобная доставка
        .features__description
          |Бесплатная доставка по 
          br
          |СПб
      .features__item.grid__col-md-3
        i.fa.fa-map-marker.features__icon
        .features__title
          |Пункт самовывоза
        .features__description
          |Можно забрать со склада
      .features__item.grid__col-md-3
        i.fa.fa-credit-card.features__icon
        .features__title
          |Оплата удобным способом
        .features__description
          |Оплачивать можно наличными,
          br 
          |кредитными картами или по 
          br 
          |безналичному расчету
      .features__item.grid__col-md-3
        i.fa.fa-cog.features__icon
        .features__title
          |Гарантийное обслуживание
        .features__description
          |Быстрая замена оборудования
          br
          | при гарантийном случае
      