mixin features
  .grid__container
    section.features.grid
      .features__item.grid__col-md-3
        i.icon-car.icon-car-dims.u--centered.features__icon
        .features__title
          |Удобная доставка
        .features__description
          |Бесплатная доставка по 
          br
          |СПб
      .features__item.grid__col-md-3
        i.icon-map-marker.icon-map-marker-dims.u--centered.features__icon
        .features__title
          |Пункт самовывоза
        .features__description
          |Можно забрать со склада
      .features__item.grid__col-md-3
        i.icon-card.icon-card-dims.u--centered.features__icon
        .features__title
          |Оплата удобным способом
        .features__description
          |Оплачивать можно наличными,
          br 
          |кредитными картами или по 
          br 
          |безналичному расчету
      .features__item.grid__col-md-3
        i.icon-cog.icon-cog-dims.u--centered.features__icon
        .features__title
          |Гарантийное обслуживание
        .features__description
          |Быстрая замена оборудования
          br
          | при гарантийном случае
      