mixin features
  .grid__container
    .features.grid
      .features__item.grid__col-md-3
        i.fa.fa-truck.fa-3x.features__icon
        .features__title
          |Удобная доставка
        .features__description
          |Бесплатная доставка по 
          br
          |СПб
      .features__item.grid__col-md-3
        i.fa.fa-map-marker.fa-3x.features__icon
        .features__title
          |Пункт самовывоза
        .features__description
          |Можно забрать со склада
      .features__item.grid__col-md-3
        i.fa.fa-credit-card.fa-3x.features__icon
        .features__title
          |Оплата удобным способом
        .features__description
          |Оплачивать можно наличными, кредитными картами или по безналичному расчету
      .features__item.grid__col-md-3
        i.fa.fa-cog.fa-3x.features__icon
        .features__title
          |Гарантийное обслуживание
        .features__description
          |Быстрая замена оборудования при гарантийном случае
      