mixin footer
  footer.page__footer.footer
    .grid__container
      .grid
        .grid__col-md-6
          .footer__item.fa.fa-map-marker.footer__icon
            |Россия, Ленинградская область,
            br
            |поселок Новоселье, Институтская ул. д. 1
          a(href="tel:88122442066").footer__item.fa.fa-phone.footer__icon
            |8 (812) 244 20 66
          a(href="mailto:info@zenit-stp.ru").footer__item.fa.fa-envelope.footer__icon
            |info@zenit-stp.ru
        .grid__col-md-6.grid--justify-end.grid--align-content-start.grid--direction-row
          a(href="#").icon-fb.icon-fb-dims.footer__icon.footer__icon_share
          a(href="#").icon-vk.icon-vk-dims.footer__icon.footer__icon_share
          a(href="#").icon-linkedin.icon-linkedin-dims.footer__icon.footer__icon_share
          a(href="#").icon-houzz.icon-houzz-dims.footer__icon.footer__icon_share
          a(href="#").icon-inmyroom.icon-inmyroom-dims.footer__icon.footer__icon_share

          
        