mixin notice
  aside.notice
    .grid__container
      .grid.grid--justify-space-between 
        .grid__col-md-2.grid__col-sm-4.grid__col-xs-5
          .grid__cell
            a(href="#").button.notice__button
              .icon-envelope.icon-envelope-dims
              |&nbsp;Обратная связь
        .grid__col-md-8.grid__col-sm-6.grid__col-xs-7
          .grid--align-self-end
            span.notice__title
              |Корзина
            span.notice__qty 
              |1
            span.notice__price 
              |8594,80 руб
            a(href="#").button.notice__button
              |Оформить заказ