$text-color: #000000;
$muted: #666666;
$primary: #00aeef;
$bg-strip: #cceffc;
$bg-related: #f2f1f1;
$success: #39b54a;
$black:#000;
$white: #fff;
$grey: #cccccc;
$dark-grey: #414142;
$button-bg: #f3f4f4;
$tbl-light: #f2f2f3;
$tbl-dark: #e8e9ea;