$text-color: #000000;
$muted: #666666;
$primary: #00ffff;
$bg-strip: #cceffc;
$bg-related: #f2f1f1;
$success: #40ff00;
$black:#000;
$white: #fff;
$grey: #cccccc;
$dark-grey: #414142;
$button-bg: #f3f4f4;