include /components/availability/availability
mixin search__im
  - var n=0;
  .grid__col-md-9.u--vrt-sm  
    .grid__cell    
      |Сортировать по 
      select.form__select.search__select.icon-arrow-down
        option(value="1") увеличению цены
        option(value="2") уменьшению цены
        option(value="2") количество
      .im.grid
        while n < 10
          li.grid__col-md-4
            -n++
            .grid__cell.im__item
              .im__item-header.u--clearfix
                a(href="#").im__id ze11003007
                if n>2
                  .im__button.im__button_tooltip
                    i.im__icon.im__icon_num 
                      |2
                    .im__tooltip
                      a(href="#").button.button_hollow.u--txt-center
                        |Перейти к сравнению
                      a(href="#").button.button_hollow.u--txt-center
                        |Удалить из сравнения
                  a(href="#").im__button
                    i.icon-loupe.im__icon
                else
                  a(href="#").im__button
                    i.icon-compare.im__icon
                  a(href="#").im__button
                    i.i.icon-loupe.im__icon
              if n>2
                +availability(true)
              else
                +availability()
              .im__thumb
                img(src='img/im/im-thumb.jpg')
              a(href="#").im__item-title
                |Z-in R25 100x100 830
              .im__description
                |Мощность 9,0 Вт, световой поток 548 лм, 
                |цветовая температура 3000К, без управления 
                |световым потоком 
              .im__price
                |6 052,36 руб.
                a(href="#").im__button
                  i.icon-basket_circle-dark.im__icon.im__icon
    a.im__footer(href="#")
      .im__button
        i.fa.fa-plus.im__footer-icon.im__icon
      br
      |Показать ещё 6 товаров
      br
      span.u--txt-thin
        |Показано 6 из 100