.u {
  &--fl-right {
    float: right;
  }
  &--fl-left {
    float: left;
  }
  &--clearfix::before,
  &--clearfix::after {
    display: table;
    content: ' ';
  }
  &--clearfix::after {
    clear: both;
  }
  &--vrt-sm {
    margin-bottom: 24px;
  }
  &--vrt-md {
    margin-bottom: 60px;
  }
  &--txt-left {
    text-align: left;
  }
  &--txt-center {
    text-align: center;
  }
  &--centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &--txt-thin {
    font-weight: 100;
  }
  &--inline-middle {
    display: inline-block;
    vertical-align: middle;
  }
  &--hd-lg {
    @include min-screen(map-get($breakpoints, lg)) {
      display: none !important;
    }
  }
  &--hd-md {
    @include min-screen(map-get($breakpoints, md)) {
      display: none !important;
    }
  }
  &--hd-sm {
    @include screen(map-get($breakpoints, sm), map-get($breakpoints, md)) {
      display: none !important;
    }
  }
  &--hd-xs {
    @include screen(map-get($breakpoints, xs), map-get($breakpoints, sm)) {
      display: none !important;
    }
  }
  &--hd-xxs {
    @include screen(0, map-get($breakpoints, xs)) {
      display: none !important;
    }
  }
  &--no-wrap {
    white-space: nowrap;
  }
}